rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {

    function isPathOwner(userId) {
      return request.auth != null && request.auth.uid == userId;
    }

    match /users/{userId}/projects/{projectId}/{allPaths=**} {
      allow read: if isPathOwner(userId);

      allow create, update: if isPathOwner(userId)
        && request.resource.size < 10 * 1024 * 1024
        && request.resource.contentType.matches('image/png');

      allow delete: if isPathOwner(userId);
    }

    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
